<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">WeShare</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div  class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/me/items">My Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/messages">Messages</a>
        </li>

        <li *ngIf="auth.loggedIn" class="nav-item dropdown " style="position: absolute; right: 70px;" >
            <img src="{{ userProfile.picture }}" alt="Avatar" class="avatar">
            <a class="nav-link dropdown-toggle" style="display: inline-block" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ userProfile? userProfile.name : 'user' }}</a>
            <div class="dropdown-menu" style="">
              <!-- <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click)="auth.logout()">Log Out</a>
            </div>
          </li>
    </ul>

</div>

    <!-- <div *ngIf="auth.loggedIn"><span class="badge badge-secondary">{{ userProfile? userProfile.name : 'user' }}</span></div>
    <button class="btn btn-secondary my-2 my-sm-0" style="position: absolute; right: 25px;" (click)="auth.login()"
        *ngIf="!auth.loggedIn">Log In</button>
    <button class="btn btn-secondary my-2 my-sm-0" style="position: absolute; right: 25px;" (click)="auth.logout()"
        *ngIf="auth.loggedIn">Log Out</button> -->
</nav>
